#showcase_profile_id data-id=@profile.id

= render partial: 'profiles/tiles/stats', locals: { profile: @profile }

br

= render partial: 'profiles/tiles/leaderboard',
         locals: { profile: @profile, leaderboard: @leaderboard, hide_paging: @hide_paging }
