!public/assets/static
.bundle
.DS_Store
.env
.yarn-integrity
/node_modules
/public/packs
/public/packs-test
/yarn-error.log
config/master.key
log
node_modules
public/assets-test
public/assets/*
tmp
yarn-debug.log*
yarn-error.log
