h2.subtitle.is-3 Slack Chat Commands

p Commands can be invoked anywhere using the <span class="command">/#{App.base_command}</span> command or in channels where the bot is present by starting a message with <span class="command">#{PROF_PREFIX}#{App.app_name}</span> or talking directly to the bot via direct message.
br

p.command &#47;#{App.base_command}
p.description
  ' Entering the command
  span.command> &#47;#{App.base_command}
  | by itself opens a modal dialog that allows you to specify recipient(s), quantity, and a note. Recipients may include individual users, user groups, or channels. Press Tab after opening the modal to step through the input fields without using your mouse.

p.command &#47;#{App.base_command} help
p.description Provides helpful instructions in chat along with a link to this page

p.command &#47;#{App.base_command} connect
p.description Provides a personalized link allowing a user to sign up or login on the web and connect their web account with their Slack user profile.

p.command &#47;#{App.base_command} top
p.description Displays the top #{App.point_term} earners. Specify a number to see more or fewer entries: <span class="command">&#47;#{App.base_command} top 20</span>. You may also specify "givers": <span class="command">&#47;#{App.base_command} top givers</span>. To see yourself and nearest competitors: <span class="command">&#47;#{App.base_command} top me</span>

p.command &#47;#{App.base_command} levels
p.description If Level Progression is enabled for your team, displays a level progression chart

p.command &#47;#{App.base_command} mute
p.description While rare, the app may occasionally send users unsolicited direct messages such as reminders and notifications about system events. They can be muted using this command (or on the website).

p.command &#47;#{App.base_command} settings
p.description Displays the current team settings and indicates who the administrator is

p.command &#47;#{App.base_command} stats
p.description Displays stats for the specified user. Specifying "me" or "stats" displays your own stats. Entering another username will display their stats.

p.command &#47;#{App.base_command} undo
p.description Immediately revokes #{App.points_term} that you gave recently. Note that for emoji reactions, you must remove the emoji to undo that action. After a few minutes, #{App.points_term} is no longer revokable.

p.command &#47;#{App.base_command} unmute
p.description While rare, the app may occasionally send users unsolicited direct messages such as reminders and notifications about system events. If muted by the user, they can be unmuted using this command (or on the website).

p.command &#47;#{App.base_command} shop
p.description See a list of loot items you can claim by earning enough #{App.points_term}

p.command &#47;#{App.base_command} claim
p.description Claim a loot item by entering the name of the item.
