p #{App.app_name} is a team engagement tool for Slack that allows users to give each other #{App.points_term}. A #{App.point_term} typically represents a token of appreciation or recognition for a job well done. Users can track their progress in the chat client or on the web. Numerous options are provided for the administrator to control the user experience and reward contributors.
br
