---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: exclude_archived=true&types=public_channel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - a002c4150459b63cde90137b3dfd875e
      X-Oauth-Scopes:
      - channels:history,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,reactions:read,team:read,usergroups:read,users.profile:read,users:read,app_mentions:read
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-lxmb
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"CL2UC3ABE","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1562129192,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"UL5H1BQTG","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TKS0LJV6W"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Company-wide
        announcements and work-based matters","creator":"UL5H1BQTG","last_set":1562129192},"purpose":{"value":"This
        channel is for workspace-wide communication and announcements. All members
        are in this channel.","creator":"UL5H1BQTG","last_set":1562129192},"previous_names":[],"num_members":6},{"id":"existing-rid","name":"existing","is_channel":true,"is_group":false,"is_im":false,"created":1570375542,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"test","is_shared":false,"parent_conversation":null,"creator":"UL5H1BQTG","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["TKS0LJV6W"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"",[...]
