---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 771283798c86f47e3667170f37ccc00e
      X-Oauth-Scopes:
      - channels:history,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,reactions:read,team:read,usergroups:read,users.profile:read,users:read,app_mentions:read
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-fmpy
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"TKS0LJV6W","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"TKS0LJV6W"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"UKX13JK26","team_id":"TKS0LJV6W","name":"jcktest","deleted":true,"profile":{"title":"","phone":"","skype":"","real_name":"jcktest","real_name_normalized":"jcktest","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g4854abc3b67","api_app_id":"AL8CX82KH","always_active":false,"bot_id":"BLA8W3RAT","image_24":"https:\/\/secure.gravatar.com\/avatar\/04854abc3b670a2177fcca29ef44a5a4.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/04854abc3b670a2177fcca29ef44a5a4.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/04854abc3b670a2177fcca29ef44a5a4.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/04854abc3b670a2177fcca29ef44a5a4.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/04854abc3b670a2177fcca29ef44a5a4.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/04854abc3b670a2177fcca29ef44a5a4.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0003-512.png","status_text_canonical":"","team":"TKS0LJV6W"},"is_bot":true,"is_app_user":false,"updated":1569298628},{"id":"UL3DB8E0M","team_id":"TKS0LJV6W","name":"phishin","deleted":true,"profile":{"title":"","phone":"","skype":"","real_name":"Phish.in","real_name_normalized":"Phish.in","display_name":"","display_name_normalized":"","status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"207a80adc1f3","api_app_id":"AKPQLSBNK","always_active":true,"image_original":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_original.png","is_custom_image":true,"bot_id":"BL3D0SZ5W","first_name":"Phish.in","last_name":"","image_24":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2019-07-23\/706288918598_207a80adc1f37287513e_1024.png","status_text_canonical":"","team":"TKS0LJV6W"},"is_bot":true,"is_app_user":false,"updated":1582511182},{"id":"UL5H1BQTG","team_id":"TKS0LJV6W","name":"jcraigk","deleted":false,"color":"9f69e7","real_name":"Mark
        Twain","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"Director
        of Wit","phone":"585 703 3529","skype":"","real_name":"Mark Twai[...]
