---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/usergroups.list
    body:
      encoding: UTF-8
      string: include_count=false&include_disabled=false&include_users=true
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - 8792f0fb1d917910b3d876264bbd2698
      X-Oauth-Scopes:
      - channels:history,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,reactions:read,team:read,usergroups:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - usergroups:read
      X-Via:
      - haproxy-www-gzf0
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"usergroups":[{"id":"SS5EPQK0B","team_id":"TKS0LJV6W","is_usergroup":true,"is_subteam":true,"name":"Test
        Group 1","description":"This is the main test group","handle":"test-group1","is_external":false,"date_create":1578644916,"date_update":1578644926,"date_delete":0,"auto_type":null,"auto_provision":false,"enterprise_subteam_id":"S00","created_by":"UL5H1BQTG","updated_by":"UL5H1BQTG","deleted_by":null,"prefs":{"channels":[],"groups":[]},"users":["UL5H1BQTG","ULTHYD4UQ","UNNQ4U048"]},{"id":"SSJMN9FS4","team_id":"TKS0LJV6W","is_usergroup":true,"is_subteam":true,"name":"Test
        Group 2","description":"Another test","handle":"test-group-2","is_external":false,"date_create":1578783428,"date_update":1578783439,"date_delete":0,"auto_type":null,"auto_provision":false,"enterprise_subteam_id":"S00","created_by":"UL5H1BQTG","updated_by":"UL5H1BQTG","deleted_by":null,"prefs":{"channels":["CL2UC3ABE"],"groups":[]},"users":["ULTHYD4UQ","UNNQ4U048"]},{"id":"existing-rid","team_id":"TKS0LJV6W","is_usergroup":true,"is_subteam":true,"name":"Test
        Group 3","description":"Yet another test","handle":"test-group-3","is_external":false,"date_create":1578783456,"date_update":1578786824,"date_delete":0,"auto_type":null,"auto_provision":false,"enterprise_subteam_id":"S00","created_by":"UL5H1BQTG","updated_by":"UL5H1BQTG","deleted_by":null,"prefs":{"channels":[],"groups":[]}}]}'
  recorded_at: Sun, 12 Jan 2020 03:31:18 GMT
- request:
    method: post
    uri: https://slack.com/api/usergroups.users.list
    body:
      encoding: UTF-8
      string: token=api-key&usergroup=SS5EPQK0B
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - e33cbc909125dd14210cd8216de67460
      X-Oauth-Scopes:
      - channels:history,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,reactions:read,team:read,usergroups:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - usergroups:read
      X-Via:
      - haproxy-www-ylj6
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"users":["UL5H1BQTG","ULTHYD4UQ","UNNQ4U048"]}'
  recorded_at: Sun, 12 Jan 2020 03:31:18 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/usergroups.users.list
    body:
      encoding: UTF-8
      string: token=api-key&usergroup=existing-rid
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Slack-Req-Id:
      - a75e5aff65f912b02fd055e1bcf723eb
      X-Oauth-Scopes:
      - channels:history,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,im:history,im:read,im:write,mpim:history,mpim:read,reactions:read,team:read,usergroups:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - usergroups:read
      X-Via:
      - haproxy-www-8d9e
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"users":[]}'
  recorded_at: Sun, 12 Jan 2020 03:31:19 GMT
recorded_with: VCR 5.0.0
