= render partial: 'header'

= mail_profile_avatar_image(@profile)

h1 Personal Stats for #{mail_profile_link(@profile)}

= render partial: 'profile_digest'

br
br
br
br

= mail_team_avatar_image(@team)

h1 Team Stats for #{@team.name}

= render partial: 'team_digest'

= render partial: 'footer'
