@media (max-width: 600px) {
  #features-js-demo {
    display: none;
  }
  #features-splash {
    margin-top: 0px !important;
    margin-bottom: 150px !important;
  }
  .feature-video {
    width: 250px !important;
    height: 140px !important;
  }
}

.btn-cta {
  font-size: 1.5rem !important;
  font-weight: bold;
  margin-top: 34px;
  margin-right: 30px;

  .btn-icon {
    margin-right: 20px;
  }
}

.feature-video-container {
  border-radius: 20px;
  background: rgba(255, 255, 255, .85);
  padding: 40px;
  margin: 0 auto;
  text-align: center;

  .feature-video {
    width: 1155px;
    height: 650px;
  }
}

#features-splash {
  margin-top: 100px;
  margin-bottom: 1150px;

  .callout {
    h1 {
      font-size: 2.9rem;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: -10px;
    }
    p.callout {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }

  .btn-cta {
    font-size: 1.5rem !important;
  }
}

#features-js-demo {
  margin-top: 500px;
  position: relative;

  .profile-ref {
    color: $cyan;
  }
  .callout {
    border-radius: 10px;
    padding: 30px;
    background: linear-gradient(90deg, $grey-dark 22%, $white 22%);
    box-shadow: 4px 4px 8px $dark;
    width: 1000px;
    height: 570px;
    margin: 0 auto;

    .hidden {
      display: none;
    }

    .window-controls {
      position: relative;
      top: -15px;
      left: -23px;

      .circle {
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, .5);
        border-radius: 100px;
        float: left;
        margin-left: 8px;
      }
    }

    .sidebar {
      margin-left: -4px;
      margin-top: 10px;
      color: $grey-lighter;

      .team {
        font-size: 1.6rem;
        font-weight: bold;
      }
      .orb {
        width: 10px;
        height: 10px;
        background-color: $green;
        border-radius: 100px;
        margin-top: 10px;
      }
      .name {
        position: relative;
        left: 20px;
        top: -22px;
        font-size: 1.3rem;
        font-weight: bold;
      }

      .header {
        color: $grey-light;
        font-size: 1.2rem;
        margin-top: 30px;
        text-transform: uppercase;
      }
      .item {
        font-size: 1.2rem;
        line-height: 2rem;

        &.active {
          font-weight: bold;
        }
      }
    }

    .main {
      position: relative;
      left: 235px;
      top: -355px;

      .avatar {
        background-size: 160px 160px;
        background-repeat: no-repeat;
        width: 160px;
        height: 160px;
        border-radius: 10px;
      }
      #chat1-avatar {
        background-image: url('../images/features/avatar-mark.png');
        top: 55px;
      }
      #chat2-avatar {
        background-image: url('../images/features/avatar-karmachest.png');
        top: 270px;
      }
      p {
        font-size: 2.4rem;
        line-height: 3.5rem;
        color: $dark;
      }

      span.name {
        font-weight: bold;
        font-size: 2.8rem;
      }
      span.tag {
        font-size: 1rem;
        background-color: $grey-light;
        margin-left: 10px;
        position: relative;
        top: -5px;
      }
      span.time {
        position: relative;
        left: 10px;
        font-size: 1.2rem;
      }

      p#chat1-label {
        position: relative;
        top: -160px;
        left: 180px;
      }
      p#chat1-content {
        position: relative;
        top: -165px;
        left: 180px;
        color: $grey-dark;
      }
      #chat2-container {
        position: relative;
        top: -60px;

        #chat2-label {
          position: relative;
          top: -160px;
          left: 180px;
        }
        #chat2-content {
          position: relative;
          top: -150px;
          left: 180px;
          color: $grey-dark;

          .response-lisa {
            width: 500px;
            height: 120px;
            background-image: url('../images/features/response-lisa.gif');
          }
          .response-vincent {
            width: 500px;
            height: 120px;
            background-image: url('../images/features/response-vincent.gif');
          }
          .response-top {
            width: 400px;
            height: 180px;
            background-image: url('../images/features/response-top.gif');
          }
        }
      }
    }
  }
}

#features-list {
  margin-top: 500px;
  margin-bottom: 300px;

  .title, .subtitle {
    color: $white-ter;
    text-shadow: 4px 4px 8px $dark;
  }
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  li a {
    font-size: 1.6rem;
    line-height: 4.4rem;
    color: $dark;
  }

}

#features-modal {
  text-align: center;

  .modal-content {
    background-color: $light;
    border-radius: $radius;
    padding: 25px;
  }

  p {
    font-size: 1.4rem;
    margin-top: 10px;
  }
  #feature-icon {
    font-size: 5rem;
    margin-right: 40px;
  }
  #feature-title {
    font-size: 2.7rem;
    line-height: 2.8rem;
  }
}
