.topic-list {
  .topic-name {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
  }
  .topic-keyword {
    font-size: 1.3rem;
    white-space: nowrap;
  }
  .topic-emoji {
    font-size: 1.3rem;
    white-space: nowrap;
  }
}
