.setting-info

  .setting-value data-name='gentle' style='display: none;'
    - @current_team.level_curve = 'gentle'
    = column_chart_with_labels( \
        name: 'Karma required to attain level',
        data: @current_team.level_karma_map,
        user: @current_user,
        id: 'level-chart1',
      )

  .setting-value data-name='steep' style='display: none;'
    - @current_team.level_curve = 'steep'
    = column_chart_with_labels( \
        name: 'Karma required to attain level',
        data: @current_team.level_karma_map,
        user: @current_user,
        id: 'level-chart2',
      )

  .setting-value data-name='linear' style='display: none;'
    - @current_team.level_curve = 'linear'
    = column_chart_with_labels( \
        name: 'Karma required to attain level',
        data: @current_team.level_karma_map,
        user: @current_user,
        id: 'level-chart3',
      )


javascript:
  $(function() {
    Chart.defaults.global.layout = {
      padding: {
        top: 30
      }
    }
    Chart.defaults.global.defaultFontFamily = 'Barlow Semi Condensed'
    Chart.defaults.global.defaultFontSize = 13
    Chart.defaults.global.defaultFontColor = "#{current_user.theme.dark? ? '#fff' : '#555'}"
    var chart = Chartkick.charts['level-chart1']
    chart.setOptions(chart.options)
    var chart = Chartkick.charts['level-chart2']
    chart.setOptions(chart.options)
    var chart = Chartkick.charts['level-chart3']
    chart.setOptions(chart.options)

    showInfo($('#team_level_curve').val())

    $('#team_level_curve').on('change', function() {
      $('.setting-value').hide()
      showInfo($(this).val())
    })

    function showInfo(key) {
      $('.setting-value[data-name="' + key + '"]').show()
    }
  })
